<div class="grid-container-wrapper">
  <div class="grid-container order">
    <div class="card current-year-total-orders global-overview cell-1">
      <%- include('order-icons/order.ico.ejs') %>
      <div class="details">
        <p class="details-title">Total Order</p>
        <p id="current-year-total-orders">1364</p>
      </div>
    </div>
    <div class="card current-year-pending-orders global-overview cell-2">
      <%- include('order-icons/pending-order.ico.ejs') %>
      <div class="details">
        <p class="details-title">Pending Order</p>
        <p id="current-year-pending-orders">1364</p>
      </div>
    </div>
    <div class="card current-year-rejected-orders global-overview cell-3">
      <%- include('order-icons/rejected-order.ico.ejs') %>
      <div class="details">
        <p class="details-title">Rejected Order</p>
        <p id="current-year-rejected-orders">136</p>
      </div>
    </div>
    <div class="card current-year-accepted-orders global-overview cell-4">
      <%- include('order-icons/accepted-order.ico.ejs') %>
      <div class="details">
        <p class="details-title">Accepted Order</p>
        <p id="current-year-accepted-orders">136</p>
      </div>
    </div>
    <div class="card col1-2-row2">
      <p class="card-title">New Order</p>
      <hr>
      <div class="content s">
        <% //console.log(newOrders) %>
          <table class="table order-table small-table">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Service</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="title-section">
                      <%- include('order-icons/new-order.ico.ejs') %>
                        <p>Tommy Delware</p>
                    </td>
                    <td class="service">
                        <p>Web Development</p>
                    </td>
                    <td class="time">
                        <p>1 hour ago</p>
                    </td>
                </tr>
                <tr>
                    <td class="title-section">
                      <%- include('order-icons/new-order.ico.ejs') %>
                        <p>Peter Orangatan</p>
                    </td>
                    <td class="service">
                        <p>Logo</p>
                    </td>
                    <td class="time">
                        <p>3 hour ago</p>
                    </td>
                </tr>
                <tr>
                    <td class="title-section">
                      <%- include('order-icons/new-order.ico.ejs') %>
                        <p>John Dale</p>
                    </td>
                    <td class="service">
                        <p>UI Design</p>
                    </td>
                    <td class="time">
                        <p>6 hour ago</p>
                    </td>
                </tr>
                <tr>
                    <td class="title-section">
                      <%- include('order-icons/new-order.ico.ejs') %>
                        <p>Jim Halpert</p>
                    </td>
                    <td class="service">
                        <p>Poster</p>
                    </td>
                    <td class="time">
                        <p>7 hour ago</p>
                    </td>
                </tr>
                <tr>
                    <td class="title-section">
                      <%- include('order-icons/new-order.ico.ejs') %>
                        <p>Tommy Delware</p>
                    </td>
                    <td class="service">
                        <p>Web Development</p>
                    </td>
                    <td class="time">
                        <p>1 hour ago</p>
                    </td>
                </tr>
                <tr>
                    <td class="title-section">
                      <%- include('order-icons/new-order.ico.ejs') %>
                        <p>Peter Orangatan</p>
                    </td>
                    <td class="service">
                        <p>Logo</p>
                    </td>
                    <td class="time">
                        <p>3 hour ago</p>
                    </td>
                </tr>
                <tr>
                    <td class="title-section">
                      <%- include('order-icons/new-order.ico.ejs') %>
                        <p>John Dale</p>
                    </td>
                    <td class="service">
                        <p>UI Design</p>
                    </td>
                    <td class="time">
                        <p>6 hour ago</p>
                    </td>
                </tr>
                <tr>
                    <td class="title-section">
                      <%- include('order-icons/new-order.ico.ejs') %>
                        <p>Jim Halpert</p>
                    </td>
                    <td class="service">
                        <p>Poster</p>
                    </td>
                    <td class="time">
                        <p>7 hour ago</p>
                    </td>
                </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="card order-details data-details col1-4-row3">
        <div class="head">
            <p class="card-title">Order Details</p>
            <div>
                <div class="search-bar">
                    <button type="submit"><i class='bx bx-search'></i></button>
                    <input type="search" placeholder="Search...">
                </div>
                <button><span class="iconify" data-icon="solar:sort-linear"></span></button>
            </div>
        </div>
        <hr>
        <div class="body data-details-table">
            <table class="table order-details-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Service</th>
                        <th>Receipt Date</th>
                        <th>Specifications</th>
                        <th>Description</th>
                        <th>Customer</th>
                    </tr>
                </thead>
                <tbody class="">
                    <% if (orders) { %>
                        <% for (let i=0; i < orders.length; i++) { %>
                        <tr order-number=<%= orders[i].orderNumber %>>
                            <td class="order-id">
                                <p><%= orders[i]._id.toString().substring(orders[i]._id.toString().length - 5) %></p>
                            </td>
                            <td class="order-service title-section">
                                <% switch (orders[i].status) { 
                                        case "new": %>
                                            <%- include('order-icons/new-order.ico.ejs') %>
                                        <%  break; 
                                        case "accepted": %>
                                            <%- include('order-icons/accepted-order.ico.ejs') %>
                                        <%  break; 
                                        case "pending": %>
                                            <%- include('order-icons/pending-order.ico.ejs') %>
                                        <%  break; 
                                        case "rejected": %>
                                            <%- include('order-icons/rejected-order.ico.ejs') %>
                                        <%  break; 
                                        case "default": %>
                                            <%- include('order-icons/order.ico.ejs') %>
                                        <%  break; %>
                                <% } %>                          
                                <p><%= orders[i].service %></p>
                            </td>
                            <td class="order-receipt-date">
                                <p><%= orders[i].created.toDateString() %></p>
                            </td>
                            <td class="order-specifications">
                                <p>
                                    <%= orders[i].specifications %> 
                                    <% if (orders[i].specifications) { %>
                                        <i class='bx bx-link-external'></i>
                                    <% } %>
                                </p>
                            </td>
                            <td class="order-description">
                            <i class='bx bx-link-external'></i>
                            </td>
                            <td class="order-customer">
                                <p><%= orders[i].lastname %> <%= orders[i].firstname %></p>
                            </td>
                        </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>