<div class="header">
  <div class="greeting-text">
    <h1>Looking for a services?</h1>
    <h2>Welcome Customer.</h2>
    <h3>Take a seat and choose the service that suit you.</h3>
  </div>
  <div class="coder">
    <img src="/assets/portfolio/img/coder.png">
  </div>
</div>
<div class="body">
  <div class="status">
    <div class="experience-year">
      <span>5+</span>
      <p>Years Experience</p>
    </div>
    <div class="completed-projects">
      <span>75</span>
      <p>Completed Projects</p>
    </div>
    <div class="happy-customers">
      <span>60</span>
      <p>Happy Customers</p>
    </div>
  </div>
  <div class="services">
    <h2>Services</h2>
    <div class="services-content">
      <% if(services) { %>
      <% for(let i = 0; i < services.length; i++) { %>
      <div class="service">
        <h3><%= services[i].title %></h3>
        <p><%= services[i].description %></p>
        <div class="order-now" service="<%= services[i].value %>">
          <p>order now</p>
          <i class='bx bx-chevron-right'></i>
        </div>
      </div>
      <% } %>
      <% } %>
    </div>
  </div>
  <div class="works">
    <div class="works-header section-header">
      <h2>Works</h2>
      <div class="work-filter">
        <ul>
          <li class="title active">web</li>
          <li class="title">ui design</li>
          <li class="title">logo</li>
          <li class="title">poster</li>
        </ul>
      </div>
      <div class="work-filter-shortcut">
        <i class='bx bx-dots-vertical-rounded'></i>
      </div>
    </div>
    <div class="works-content swiper swiper-container">
      <div class="swiper-wrapper">
        <% if(experienceFavorite) { %>
        <div class="web swiper-slide">
          <ul>
            <% for(let i = 0; i < experienceFavorite.length; i++) { %>
            <% if(experienceFavorite[i].type === "web") { %>
            <li>
              <figure class="web-item">
                <a href="<%= experienceFavorite[i].link %>" target="_blank">
                  <img src="<%= experienceFavorite[i].cover %>" alt="<%= experienceFavorite[i].tagInfo %>">
                </a>
              </figure>
            </li>
            <% } %>
            <% } %>
            <li>
              <figure class="web-item more-work">
                <a href="#" target="_blank">SEE MORE</a>
              </figure>
            </li>
          </ul>
        </div>
        <div class="ui-design swiper-slide">
          <ul>
            <% for(let i = 0; i < experienceFavorite.length; i++) { %>
            <% if(experienceFavorite[i].type === "ui-design") { %>
            <li>
              <firgure class="ui-design-item">
                <div class="ui-design-pic">
                  <img class="experience-img" src="<%= experienceFavorite[i].cover %>" alt="<%= experienceFavorite[i].tagInfo %>">
                </div>
              </firgure>
            </li>
            <% } %>
            <% } %>
            <li>
              <figure class="ui-design-item more-work">
                <a href="#" target="_blank">SEE MORE</a>
              </figure>
            </li>
          </ul>
        </div>
        <div class="logo swiper-slide">
          <ul>
            <% for(let i = 0; i < experienceFavorite.length; i++) { %>
            <% if(experienceFavorite[i].type === "logo") { %>
            <li class="logo-item">
              <figure>
                <img class="experience-img" src="<%= experienceFavorite[i].cover %>" alt="<%= experienceFavorite[i].tagInfo %>">
              </figure>
            </li>
            <% } %>
            <% } %>
            <li class="logo-item">
              <figure class="ui-design-item more-work">
                <a href="#" target="_blank">SEE MORE</a>
              </figure>
            </li>
          </ul>
        </div>
        <div class="poster swiper-slide">
          <ul>
            <% for(let i = 0; i < experienceFavorite.length; i++) { %>
            <% if(experienceFavorite[i].type === "poster") { %>
            <li class="logo-item">
              <figure>
                <img class="experience-img" src="<%= experienceFavorite[i].cover %>" alt="<%= experienceFavorite[i].tagInfo %>">
              </figure>
            </li>
            <% } %>
            <% } %>
            <li class="logo-item">
              <figure class="ui-design-item more-work">
                <a href="#" target="_blank">SEE MORE</a>
              </figure>
            </li>
          </ul>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="recommendations">
    <div class="recommendations-header">
      <h2>Recommendations</h2>
    </div>
    <div class="recommendations-content">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <% if (recommendationFavorite) { %>
            <% for (let i = 0; i < recommendationFavorite.length; i++) { %>
            <div class="swiper-slide">
              <div class="recommendation-header">
                <div class="profile">
                  <div class="profile-pic">
                    <img src="data:image/<%=recommendationFavorite[i].pic.extension%>;base64,<%=recommendationFavorite[i].pic.path%>" alt="Customer Pic">
                  </div>
                  <h3><%= recommendationFavorite[i].username %></h3>
                </div>
                <span>
                  <% for (let j = 1; j <= 5; j++) { %>
                    <% if (j <= recommendationFavorite[i].rate) { %>
                      <i class='bx bxs-star'></i>
                    <% } else { %>
                      <i class='bx bx-star' ></i>
                    <% } %>
                  <% } %>
                </span>
              </div>
              <div class="recommendation-content">
                <p><%= recommendationFavorite[i].message %></p>
              </div>
              <div class="recommendation-footer">
                <p><%= recommendationFavorite[i].date %></p>
              </div>
            </div>
            <% } %>
            <% } %>
        </div>
        <div class="swipe-btns">
          <div class="swiper-pagination"></div>
          <div>
            <div class="swiper-button-prev-unique"><i class='bx bx-chevron-left'></i></div>
            <div class="swiper-button-next-unique"><i class='bx bx-chevron-right'></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact">
    <h2>Contact me</h2>
    <div class="form-container">
      <div class="input-box">
        <input type="text" name="customer-name" id="customer-name" placeholder="Name">
        <label class="input-icon-box" for="customer-name"><i class='bx bxs-user'></i></label>
      </div>
      <div class="input-box">
        <input type="text" name="customer-email" id="customer-email" placeholder="Email">
        <label class="input-icon-box" for="customer-email"><i class='bx bx-at'></i></label>
      </div>
      <div class="input-box">
        <textarea name="customer-message" id="customer-message" cols="30" rows="13" placeholder="Message"></textarea>
        <label class="input-icon-box" for="customer-message"><i class='bx bxs-envelope'></i></label>
      </div>
      <div class="submit-box">
        <input type="submit" value="send message">
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <footer>
    <div class="copyright">
      <p>Copyright &COPY; All right reserved 2023</p>
    </div>
    <div class="author">
      <p>Website author: <a href="#">Omar Scheph</a></p>
    </div>
  </footer>
</div>